.isActive {
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 10px;
    z-index: 99999;
    background: #00ff14;
    border-radius: 100%;
}
.isActive:hover::after {
  content: "Activo";
  color: white;
  background-color: black;
  padding: 4px;
  border-radius: 3px;
}
.inactive {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 10px;
  z-index: 99999;
  background: yellow;
  border-radius: 100%;
}
.inactive:hover::after {
  content: "Ausente";
  color: white;
  background-color: black;
  padding: 4px;
  border-radius: 3px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .message {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .like-count {
    color: gray;
    font-size: 14px;
  }

  .heart {
    background-image: url(https://i.ibb.co/8sTbrLt/1-MTZW1-G1m-E7-LSX1-Cnh-TYe-HA.png);
    cursor: pointer;
    height: 28px;
    width: 27px;
    background-size: cover;
    background-repeat: no-repeat;
    scale: 1.8;
}
  .heart-animation {
    animation: heart-beat .8s steps(28) 1 forwards;  
  }
  
  @keyframes heart-beat {
   from { background-position: left; }
   to { background-position: right; }
  }





  /* Estilos TextArea*/
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  position: relative;
  min-height: 200px;
}

.ql-editor {
  min-height: 100px;
  padding: 12px;
  overflow-y: auto;
  cursor: text;

}

.ql-editor p {
  margin: 0;
  padding: 0;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 1.5em;
}

.ql-editor ol > li,
.ql-editor ul > li {
  list-style-type: none;
}

.ql-editor ul > li::before {
  content: '\2022';
  margin-right: 5px;
}

.ql-toolbar {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}

.ql-toolbar .ql-formats {
  margin-right: 15px;
}

.ql-toolbar .ql-picker-label {
  color: #666;
}

.ql-toolbar .ql-picker-options {
  padding: 4px 8px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  font-size: 13px;
}

.ql-toolbar .ql-picker-options .ql-selected {
  background-color: #ccc;
}

.ql-snow.ql-toolbar:after,
.ql-snow .ql-toolbar:after {
  clear: both;
  content: '';
  display: table;
}

.ql-snow .ql-editor h1 {
  font-size: 2em;
}

.ql-snow .ql-editor h2 {
  font-size: 1.5em;
}

.ql-snow .ql-editor h3 {
  font-size: 1.17em;
}
/*Boton startTask*/
.continue-application {
  --color: #fff;
  --background: #404660;
  --background-hover: #3A4059;
  --background-left: #2B3044;
  --folder: #F3E9CB;
  --folder-inner: #BEB393;
  --paper: #FFFFFF;
  --paper-lines: #BBC1E1;
  --paper-behind: #E1E6F9;
  --pencil-cap: #fff;
  --pencil-top: #275EFE;
  --pencil-middle: #fff;
  --pencil-bottom: #5C86FF;
  --shadow: rgba(13, 15, 25, .2);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  padding: 17px 29px 17px 69px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  color: var(--color);
  background: var(--bg, var(--background));
}

.continue-application > div {
  top: 0;
  left: 0;
  bottom: 0;
  width: 53px;
  position: absolute;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  background: var(--background-left);
}

.continue-application > div .folder {
  width: 23px;
  height: 27px;
  position: absolute;
  left: 15px;
  top: 13px;
}

.continue-application > div .folder .top {
  left: 0;
  top: 0;
  z-index: 2;
  position: absolute;
  -webkit-transform: translateX(var(--fx, 0));
      -ms-transform: translateX(var(--fx, 0));
          transform: translateX(var(--fx, 0));
  -webkit-transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
  transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
  transition: transform 0.4s ease var(--fd, 0.3s);
  transition: transform 0.4s ease var(--fd, 0.3s), -webkit-transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder .top svg {
  width: 24px;
  height: 27px;
  display: block;
  fill: var(--folder);
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s ease var(--fds, 0.45s);
  transition: -webkit-transform 0.3s ease var(--fds, 0.45s);
  transition: transform 0.3s ease var(--fds, 0.45s);
  transition: transform 0.3s ease var(--fds, 0.45s), -webkit-transform 0.3s ease var(--fds, 0.45s);
  -webkit-transform: perspective(120px) rotateY(var(--fr, 0deg));
          transform: perspective(120px) rotateY(var(--fr, 0deg));
}

.continue-application > div .folder:before, .continue-application > div .folder:after,
.continue-application > div .folder .paper {
  content: "";
  position: absolute;
  left: var(--l, 0);
  top: var(--t, 0);
  width: var(--w, 100%);
  height: var(--h, 100%);
  border-radius: 1px;
  background: var(--b, var(--folder-inner));
}

.continue-application > div .folder:before {
  -webkit-box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
          box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
  -webkit-transform: translateX(var(--fx, 0));
      -ms-transform: translateX(var(--fx, 0));
          transform: translateX(var(--fx, 0));
  -webkit-transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
  transition: -webkit-transform 0.4s ease var(--fd, 0.3s);
  transition: transform 0.4s ease var(--fd, 0.3s);
  transition: transform 0.4s ease var(--fd, 0.3s), -webkit-transform 0.4s ease var(--fd, 0.3s);
}

.continue-application > div .folder:after,
.continue-application > div .folder .paper {
  --l: 1px;
  --t: 1px;
  --w: 21px;
  --h: 25px;
  --b: var(--paper-behind);
}

.continue-application > div .folder:after {
  -webkit-transform: translate(var(--pbx, 0), var(--pby, 0));
      -ms-transform: translate(var(--pbx, 0), var(--pby, 0));
          transform: translate(var(--pbx, 0), var(--pby, 0));
  -webkit-transition: -webkit-transform 0.4s ease var(--pbd, 0s);
  transition: -webkit-transform 0.4s ease var(--pbd, 0s);
  transition: transform 0.4s ease var(--pbd, 0s);
  transition: transform 0.4s ease var(--pbd, 0s), -webkit-transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .folder .paper {
  z-index: 1;
  --b: var(--paper);
}

.continue-application > div .folder .paper:before, .continue-application > div .folder .paper:after {
  content: "";
  width: var(--wp, 14px);
  height: 2px;
  border-radius: 1px;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
  left: 3px;
  top: var(--tp, 3px);
  position: absolute;
  background: var(--paper-lines);
  -webkit-box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
          box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
}

.continue-application > div .folder .paper:after {
  --tp: 6px;
  --wp: 10px;
}

.continue-application > div .pencil {
  height: 2px;
  width: 3px;
  border-radius: 1px 1px 0 0;
  top: 8px;
  left: 105%;
  position: absolute;
  z-index: 3;
  -webkit-transform-origin: 50% 19px;
      -ms-transform-origin: 50% 19px;
          transform-origin: 50% 19px;
  background: var(--pencil-cap);
  -webkit-transform: translateX(var(--pex, 0)) rotate(35deg);
      -ms-transform: translateX(var(--pex, 0)) rotate(35deg);
          transform: translateX(var(--pex, 0)) rotate(35deg);
  -webkit-transition: -webkit-transform 0.4s ease var(--pbd, 0s);
  transition: -webkit-transform 0.4s ease var(--pbd, 0s);
  transition: transform 0.4s ease var(--pbd, 0s);
  transition: transform 0.4s ease var(--pbd, 0s), -webkit-transform 0.4s ease var(--pbd, 0s);
}

.continue-application > div .pencil:before, .continue-application > div .pencil:after {
  content: "";
  position: absolute;
  display: block;
  background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
  width: var(--w, 5px);
  height: var(--h, 20px);
  border-radius: var(--br, 2px 2px 0 0);
  top: var(--t, 2px);
  left: var(--l, -1px);
}

.continue-application > div .pencil:before {
  -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
  clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
}

.continue-application > div .pencil:after {
  --b: none;
  --w: 3px;
  --h: 6px;
  --br: 0 2px 1px 0;
  --t: 3px;
  --l: 3px;
  border-top: 1px solid var(--pencil-top);
  border-right: 1px solid var(--pencil-top);
}

.continue-application:before, .continue-application:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background: var(--color);
  -webkit-transform-origin: 9px 1px;
      -ms-transform-origin: 9px 1px;
          transform-origin: 9px 1px;
  -webkit-transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
      -ms-transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
          transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
  top: 26px;
  right: 16px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.continue-application:after {
  --r: 45deg;
}

.continue-application:hover {
  --cx: 2px;
  --bg: var(--background-hover);
  --fx: -40px;
  --fr: -60deg;
  --fd: .15s;
  --fds: 0s;
  --pbx: 3px;
  --pby: -3px;
  --pbd: .15s;
  --pex: -24px;
}
